<div class="col-xs-12 no-side-padding">
    <div ng-controller="TabManagerController" class="col-xs-12 no-side-padding">
            <div class="col-xs-12 no-side-padding" ng-controller="TabSetController">
                <div class="panel panel-default col-xs-12 col-md-3 no-side-padding" ng-show="is_menu_enabled"
                     id="mod-tab-side-menu">
                    <div class="panel-heading">{{tab_sets_metadata[0].menuname}}</div>
                    <div class="panel-body">
                        <uib-tabset vertical="true" type="pills">
                            <uib-tab ng-repeat="metadata in tab_sets_metadata"
                                     ng-click="change_tabset_cb($index)" active="metadata.active"
                                     class="mod-tab-side-menu-tab-button"
                                     heading="{{metadata.name}}"></uib-tab>
                        </uib-tabset>
                    </div>
                </div>


                <div ng-class="{'col-md-9': is_menu_enabled}"
                     id="mod-tab-tab-set">

                    <uib-tabset class="col-xs-12 tab-animation">
                        <uib-tab ng-repeat="tab_metadata in current_mod_tab_tab_metadata"
                                 heading="{{tab_metadata.tabname}}"
                                 active="tab.active"
                                 disable="tab.disabled"
                                 ng-click="select_cb(tab_metadata.id)"
                                 class="mod-tab-tab-set-button">
                            <br> <!--arbitrary space-->
                            <div class="panel-body">
                                <div ng-hide="!!current_tab_content"><h3>Loading...</h3></div>
                                <div class="mod-tab-tab-content" ng-show="!!current_tab_content"
                                     ng-bind-html="current_tab_content"></div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

            <div ng-show="can_edit" class="pull-right">
                <button type="button" id="mod_tab_update_this" class="btn btn-default" ng-click="edit_tab_set()">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{str.updatethis}}
                </button>
            </div>
        </div>
    </div>
</div>